.figure img {
  width: 150px;
  height: 100px;
  border-radius: 10px 20px;
}
.figure {
  border: 4px dashed #343c6b;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
body {
  color: white;
  background-image: url("img/star_wars_background.jpg");
}
p {
  background-color: #343c6b;
  border-radius: 10px;
  font-weight: 600;
}
.attact {
  height: 40px;
  width: 100px;
  background-color: #343c6b;
  color: #fff;
  margin: auto 0;
  border-radius: 10px;
  font-weight: 600;
}
.button{
  background-color: #adb2d3;
  border: 2px solid #343c6b;
  border-radius: 20px;
  width: 100px;
  color: #232a50;
  font-weight: 600;
}
